h1{
    font-family: cursive;
    text-align: center;
    background-color: rgb(255, 0, 0);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 40px;
}

p{  font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

h2{
    text-align: center;
}

.centerpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 5px 5px 10px black;
}

.faq{
  padding-left: 150px;
  padding-right: 150px;
}

.intro{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding-left: 100px;
      padding-right: 100px;
      font-style: inherit;
}


.regform{
      padding-left: 70px;
      padding-right: 100px;
}

.aboutuspara{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding-left: 100px;
      padding-right: 100px;
}

.centertitle{
  text-align: center;
}

.form-center{
  position:absolute;
  top:60%;
  left:50%;
  transform:translate(-50%,-50%);
}